
.auth {

}

.auth h1 {
    font-size: 25px;
}

.auth-wrapper {
    position: absolute;
    margin: 0 auto;
    width: 520px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.auth-header {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid black;
}

.card {
    min-height: 100%;
    vertical-align: baseline;
    padding: 10px 25px 10px 25px;
}

.form-group.has-error input {
    color: #e21e00 !important;
}
