

.auth h1 {
    font-size: 25px;
}

.auth-wrapper {
    position: relative;
    margin: 0 auto;
    width: 620px;
    top: 300px;
}

.auth-header {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid black;
}
